<% if revisions.any? %>
  <div class="revisions">
    <div class="revisions__head">
      <span>current instruction · <%= pluralize(revisions.size, "revision") %></span>
      <span><%= revisions.count(&:completed?) %>/<%= revisions.size %> ok</span>
    </div>
    <%= render partial: "revisions/revision", collection: revisions, as: :revision %>
  </div>
<% end %>
