<div id="chat_notice">
  <% if local_assigns[:message].present? %>
    <div class="notice-strip notice-strip--err" data-controller="dismiss">
      <div class="notice-strip__stripe"></div>
      <div class="notice-strip__tag">error</div>
      <div class="notice-strip__body"><%= local_assigns[:message] %></div>
      <button type="button" data-action="dismiss#close" class="notice-strip__close" aria-label="dismiss">×</button>
    </div>
  <% end %>
</div>
