<%= turbo_frame_tag "suggestions" do %>
  <% if prompts.present? %>
    <div class="composer-suggestions" data-controller="suggestions">
      <% prompts.each do |prompt| %>
        <button type="button"
                class="suggestion-chip"
                data-action="click->suggestions#prefillMessage"
                data-suggestions-value-param="<%= prompt %>">
          <%= prompt %>
        </button>
      <% end %>
    </div>
  <% end %>
<% end %>
